<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qf.web.master.mapper.CustomerMapper">

    <insert id="insertCustomer" parameterType="customer">
        insert into customer values(null,#{username},#{password},#{nickname},#{address},#{money},#{state})
    </insert>
    <update id="updateCustomer" parameterType="customer">
        update customer
        <set>
            <if test="username != null or username != ''">
                username = #{username},
            </if>
            <if test="password != null or password != ''">
                password = #{password},
            </if>
            <if test="nickname != null or nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="address != null or address != ''">
                address = #{address},
            </if>
            <if test="money != null">
                money = #{money},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteCustomerById">
        delete from customer where id = #{id}
    </delete>
    <select id="getCustomerById" resultType="customer">
        select * from customer where id = #{id}
    </select>
    <select id="queryAllCustomer" resultType="customer">
        select * from customer
    </select>
    <select id="getCustomerByNameAndState" resultType="com.qf.web.master.pojo.Customer">
        select * from customer
        <where>
            <if test="name != null and name != ''">
                or username like concat('%',#{name},'%')
            </if>
            <if test="state != null">
                or state = #{state}
            </if>
        </where>
    </select>
</mapper>